{% extends "layout.html" %}
{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown"><span>Lectures</span></h2>
          <p class="animate__animated fanimate__adeInUp">Here, you will find any resources discussed or used during our lectures.</p>
        </div>
      </div>

  </section><!-- End Hero -->

<body>
    <!--Lecture Stuff-->
    <br>
    <table>
        <tr>
            <th>Date</th>
            <th>Topic</th>
            <th>Lecture Resources</th>
        </tr>

        <tr>
            <td>January 1st, 2021</td>
            <td>Topic X</td>
            <td>
                <a href="static/lecture_resources/SamplePDF.pdf" target="_blank">Sample PDF</a>
                <br>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO" target="_blank">Sample Video</a>
            </td>
        </tr>

        <tr>
            <td>January 1st, 2021</td>
            <td>Topic X</td>
            <td>
                <a href="static/lecture_resources/SamplePDF.pdf" target="_blank">Sample PDF</a>
                <br>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO" target="_blank">Sample Video</a>
            </td>

        </tr>

        <tr>
            <td>January 1st, 2021</td>
            <td>Topic X</td>
            <td>
                <a href="static/lecture_resources/SamplePDF.pdf" target="_blank">Sample PDF</a>
                <br>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO" target="_blank">Sample Video</a>
            </td>
        </tr>

        <tr>
            <td>January 1st, 2021</td>
            <td>Topic X</td>
            <td>
                <a href="static/lecture_resources/SamplePDF.pdf" target="_blank">Sample PDF</a>
                <br>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO" target="_blank">Sample Video</a>
            </td>
        </tr>

        <tr>
            <td>January 1st, 2021</td>
            <td>Topic X</td>
            <td>
                <a href="static/lecture_resources/SamplePDF.pdf" target="_blank">Sample PDF</a>
                <br>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO" target="_blank">Sample Video</a>
            </td>
        </tr>

        <tr>
            <td>January 1st, 2021</td>
            <td>Topic X</td>
            <td>
                <a href="static/lecture_resources/SamplePDF.pdf" target="_blank">Sample PDF</a>
                <br>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO" target="_blank">Sample Video</a>
            </td>
        </tr>
    </table>
</body>


{% endblock %}